*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    color: #5D5D7D;
}

#all{

    height: 100vh;
    width: 100vw;
}

#left{

    display: inline-block;
    width: 60%;
    margin-top: 10%;
    padding-left: 136px;


}

#rigth{

    display: inline-block;
    background-color: rgba(93,93,125,0.16);
    height: 100%;
    width: 40%;
    position: absolute;

}

img{

    position: relative;
    top: 18%;
    right: 25%;
}

header{

    float: right;
    margin: 24px 0 0 57px;

}

.link-header{

    font-size: 28px;
    line-height: 41px;
    margin-right: 41px;
    cursor: pointer;

}

.link-header:nth-child(2){

    opacity: .4;

}

.link-header:hover{

    opacity: .4;

}

.link-header:active{

    opacity: .8;

}

h1{

    font-size: 70px;
    line-height: 80px;
    width: 368px;

}

p{

    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    margin: 15px 0;
    width: 540px;


}

#start{

    width: 269px;
    height: 62px;
    background: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

#start:hover{

    opacity: .5;

}

#start:active{

    opacity: .8;
}

@media screen and ( max-width: 1000px ){

    #left{


        display: block;
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;

    }

    #rigth{

        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
        
        
    }

    img{

        position: static;
        max-width: 90%;
        
        
    }

    header{

        display: none;

    }

    h1{

        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0px 50px;
        text-align: center;

    }

    p{

        margin: 15px 40px; 
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;

    }

    #start{

        margin: 0 auto;
        display: block;

    }

    


}
    
